<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Contact us</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="contact">
    <div>
      <h3>Social Media Accounts</h3>
      <h4>
        <a class="link" href="https://github.com/EnesSariyildiz">GitHub</a>
      </h4>
      <h4>
        <a class="link" href="https://www.linkedin.com/in/enes-s-26441a230/">Linkedin</a>
      </h4>
      <h4>
        <a class="link" href="https://www.instagram.com/">Instagram</a>
      </h4>
      <p></p>

    </div>

  </div>
</ion-content>