<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Anasayfa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="">
      <h4 class="welcome-title">Welcome to todo'it</h4>
      <p class="welcome-text">"Todo" kelimesi İngilizce'de "to do" kelimesinin kısaltmasıdır ve "to do list" anlamına
        gelir.
      <p class="welcome-text">Todo olarak kullanılır
        görev listesi veya
        görevler
        yapılması gerekiyor. Bu listeye eklenen öğeler genellikle tamamlanmamış görevlerin kaydını tutmak veya size
        hatırlatmak
        için kullanılır.</p>
      <p class="welcome-text">
        işin
        gelecekte yapılacak. Yapılacaklar listeleri genellikle kişisel veya profesyonel işlerde organizasyon ve takip
        için
        kullanılır.
        hayat.</p>
    </div>
    <ion-button expand="block" class="features-button" (click)="goToWebVersion()">Web Sürümü</ion-button>




  </ion-content>
</ion-content>