<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="">
      <h4 class="welcome-title">Welcome to todo'it</h4>
      <p class="welcome-text">The word "todo" is short for "to do" in English and means "to do list". Todo is used as a
        list of tasks or
        tasks that
        need to be done. Items added to this list are often used to keep a record of unfinished tasks or to remind you
        of work
        to be done in the future. Todo lists are often used for organization and tracking in personal or professional
        life.</p>
    </div>
    <ion-button expand="block">New Features</ion-button>
    <ion-button class="dark">Default</ion-button>




  </ion-content>
</ion-content>