<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="#ff9a3c">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="">tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-label>{{ task }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="deleteTask(task)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>



  <ion-item>
    <ion-label stacked placeholder="Görev Ekle"></ion-label>
    <ion-input [(ngModel)]="newTask" type="text"></ion-input>
  </ion-item>
  <ion-button shape="default" (click)="addTask()" class="addButton">Görev Ekle</ion-button>



</ion-content>